* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.main {
  display: grid;
  grid-template-rows: 80px auto;
  height: 100vh;
  width: 100%;
}
.adduser_header {
  border-bottom: #000 1px solid;
  display: flex;
  align-items: center;
  font-size: 20px;
  font-weight: 600;
}
.view_user,
.add_user,
.view_logs {
  margin-left: 30px;
  cursor: pointer;
  color: #000;
  text-decoration: none;
}
Link {
  text-decoration: none;
}
.view_logs:visited,
.view_user:visited,
.add_user:visited .form {
  width: 100%;
  color: #000;
}
.form form {
  display: flex;
  flex-direction: column;
  padding: 30px;
  width: 600px;
  font-size: 20px;
  margin: auto;
}
form input {
  padding: 7px 20px;
  outline: none;
  border-radius: 40px;
  font-size: 18px;
  font-weight: 500;
  color: #000;
  margin: 10px 0;
}
form .adduser_btn {
  width: 250px;
  margin: 10px auto;
  border-radius: 40px;
  font-size: 18px;
  font-weight: 500;
  color: #000;
  border: 1px solid black;
  padding: 10px 20px;
  cursor: pointer;
}
.header {
  border-bottom: #000 1px solid;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 20px;
  font-weight: 600;
}
.header .user-pages {
  display: flex;
}
.table {
  width: 100%;
  overflow-y: scroll;
}
.table table {
  width: 90%;
  margin: 30px auto;
  text-align: left;
  overflow-x: scroll;
  min-width: 786px;
}
.table table,
th,
td {
  border: #000 1px solid;
  border-collapse: collapse;
  padding: 5px 10px;
}
.table table th {
  font-size: 18px;
  font-weight: 600;
}
.icons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}
.delete-icon,
.edit-icon {
  cursor: pointer;
}
.delete-icon svg {
  height: 28px;
  margin-right: 5px;
  width: 28px;
}
.edit-icon svg {
  height: 24px;
  width: 24px;
}

.loading-text {
  text-align: center;
  font-size: 18px;
  margin-top: 20px;
}
